{{> head}}
<body>	
<div class="wrp">
	<div class="stage skillstage">
	</div>	
</div>
<header>
	<h1>GEORGE MICHAEL FAUST</h1>
	<h2>Front-End Developer</h3>
	{{> nav}}
</header>
<footer>
	<a href="https://github.com/turbobeast" target="_blank" class="sociallink github"></a>
	<a href="http://codepen.io/turbobeast" target="_blank" class="sociallink codepen"></a>
	<a href="https://twitter.com/turbobeast" target="_blank" class="sociallink twitter"></a>
	<a href="http://instagram.com/turbobeast" target="_blank" class="sociallink instagram"></a>
</footer>
{{> projecttemplate}}
{{> skillstemplate}}
{{> cubetemplate}}
{{> contacttemplate}}
{{> footer}}
</body>
</html>